/* typefaces */
/* body */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
  /* font-family: 'Crimson Text', serif; */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,400');
  /* font-family: 'Noto Serif SC', serif; */
/* display */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
  /* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
  /* font-family: 'Abril Fatface', cursive; */
@import url('https://fonts.googleapis.com/css?family=Fahkwang:200,400');
  /* font-family: 'Fahkwang', sans-serif; */

  
/* flashlight styles */
  /* using background image*/
    html, body{
    	height:100vh;
      width: 100%;
    }
    body{
    	background-color: rgba(0,0,0,0.95);
    	background-image:url(images/light.png);
      background-size: 50%;
    	background-repeat:no-repeat;
    	/* background-position: 100% 100%; */
    	cursor:none;
      font-family: 'Crimson Text', serif;
    }
    a:link {
      color:black;
    }
    a:visited {
      color:black;
    }
    a:hover {
      cursor: url(images/X.cur), auto;
    }

  /* using div -test */
      /* html, body {
        padding: 0;
        margin: 0;
        background-color:rgba(0,0,0,1.00);
      	color:rgba(255,255,255,0.8);
        overflow: hidden;
      }
      body * {
        z-index: 20;
        color: rgba(0,0,0,1.00);
        user-select: none;  --> blocks user from clicking on anything
      }
      #content {
        width: 100%;
        height: 100vh;
      }
      #light {
        position: absolute;
        width: 500px;
        height: 500px;
        box-shadow: inset 0 0 150px 150px #000;
        background: #fff;
        z-index: 10;
      }
      .light-off {
        box-shadow: inset 0 0 150px 250px #000 !important;
      }
      .pogi {
        position: absolute;
        top: 40%;
        left: 45%;
      } */

/* general styles */
.preface {
  color: white;
  background-color: black;
  width: 88%;
  height: 235%;
  margin: 0px;
  text-align: center;
  padding: 80px;
  z-index: 20;
  position: fixed;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=39), auto;
}
  .prefaceBox {
    border: 1px solid;
    width: 400px;
    height: 200px;
    margin-left: 35%;
    margin-top: 10%;
  }
  .enterBtn{
    font-family: 'Crimson Text', serif;
    text-align: center;
    border: 1px solid white;
    color: white;
    background: none;
    display: inline;
    position: fixed;
    border: 1px solid;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -20px;
    z-index: 50;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=39), auto;
  }
    .enterBtn:hover {
      background-color: white;
      color: black;
    }


.title {
  width: 25%;
  text-align: center;
  border: 1px solid;
  background: none;
  padding-bottom: 10px;
  box-shadow: 8px 10px;
  margin-left: 30%;
  margin-top: 380px;
  position: fixed;
}
  .titleWelcome {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
  }
  .titleJina {
    font-size: 12px;
    border-bottom: 1px dashed black;
    width: 20px;
    padding: 2px;
    margin: auto;
  }

.aboutMe {
  width: 150px;
  height: 60px;
  border: 1px dashed;
  word-wrap: normal;
  position: absolute;
  top: 20%;
  left: 20%;
  box-shadow: 10px 20px;
}
  .aboutMeTitle {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 30px;
    margin: 10px;
    margin-top: -32px;
    margin-left:5px;
  }
  .aboutMeTitle2 {
    font-family: 'Fahkwang', sans-serif;
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    margin: 10px;
    margin-top: -5px;
    margin-left:5px;
  }

.exercise {
  font-family: 'Fahkwang', sans-serif;
  font-size: 30px;
  font-weight: 200;
  word-wrap: break-word;
  width: 110px;
  border: 0.5px solid;
  position: absolute;
  top: 50%;
  left: 80%;
  box-shadow: 25px 10px;
}
  .exercisePreTitle {
    font-family: 'Fahkwang', sans-serif;
    font-size: 20px;
    margin-top: -25px;
  }
  .exerciseTitle {
    margin-top: -15px;
  }

.projects {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  word-wrap: break-word;
  padding: 5px;
  margin-bottom: 50px;
  width: 80px;
  border: 2px solid black;
  position: absolute;
  top: 105%;
  left: 10%;
  box-shadow: 25px 10px black;
}
  .projectsTitle {
    text-align: center;
  }

.readings {
  text-align: center;
  width: 300px;
  height: 30px;
  border: 3px double black;
  position: absolute;
  top: 180%;
  left: 62%;
  box-shadow: 5px 2px black;
}
  .readingsTitle {
    margin-top: 2px;
  }

.process {
  text-align: center;
  width: 220px;
  height: 50px;
  border: 0.5px solid black;
  position: absolute;
  top: 235%;
  left: 50%;
  box-shadow: 2px 2px black;
}
.processTitle {
  font-family: 'Noto Serif SC', serif;
  font-weight: 200;
  font-size: 70px;
  word-wrap: normal;
  margin-top: -38px;
  margin-left: -52px;
  letter-spacing: 10px;
}
