/* typefaces */
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

/* styles */
html {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}
body{
  margin: 0px;
}
a:link {
  text-decoration: none;
}
a:visited{
  color: black;
}
a:hover {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}

.pageTop {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  width: 100vw;
  height:40px;
  background: #FFC0CB;
  border-bottom: 1px solid black;
  position:fixed;
}
.pageBody {
  background: #E6E6FA;
  width: 100vw;
  height:100vh;
  z-index: -10;
}
.pageBottom {
  background: #D0D3D4;
  border-radius: 25px;
  position: fixed;
  left: 43.5vw;
  width: 24vw;
  height: 5vh;
  bottom: 1vh;
}
h1 {
  font-family: 'Staatliches', cursive;
  position:fixed;
  top: 15vh;
  left: 18vw;
}
.txtAbout {
  font-family: 'Staatliches', cursive;
  position:fixed;
  top: 25vh;
  left: 18vw;
  width: 50%;
}
.txtAbout1 {
  line-height: 1.5rem;
  word-spacing: 0.5rem;
}
.txtAbout2 {
  word-spacing: 0.3rem;
  left: 20vw;
  margin: 1.5rem;
}
.txtAbout3 {
  word-spacing: 0.3rem;
  margin: 1.5rem;
  left: 20vw;
}
.btnBack {
  font-family: 'Staatliches', cursive;
  border: 1px solid black;
  padding: 0.3rem;
  position: fixed;
  top: 70vh;
  left: 18vw;
}
  .btnBack:hover {
    border: 1px solid white;
    color: white;
  }

/* .txtFile {
  border: 0.5px solid black;
  background-color:#D0D3D4;
  width: 80px;
  height: 60px;
  padding-left: 10px;
  padding-bottom: 10px;
  position: fixed;
  left: 115px;
  top: 40px;
  display: none;
} */

.txt2Button {
  position: fixed;
  left: 105px;
  top: 12px;
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: none;
  background:#FFC0CB;
}
.txtFile {
  position: fixed;
  left: 72px;
  top: 35px;
  line-height: 1.5;
  list-style-type: none;
  display: none;
}
  a.logout:hover {
    color: white;
  }
.txt3Button {
  position: fixed;
  left: 148px;
  top: 12px;
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: none;
  background:#FFC0CB;
}
.txtSettings {
  position: fixed;
  left: 118px;
  top: 35px;
  line-height: 1.5;
  list-style-type: none;
  display:none;
}
.txt1{
  position: fixed;
  left: 40px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  z-index: 20;
}
.txt2 {
  position: fixed;
  left: 110px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}
.txt3 {
  position: fixed;
  left: 150px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}
.txt4 {
  position: fixed;
  right: 125px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  z-index: 20;
}
#datetime {
  position: fixed;
  right: 50px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  z-index: 60;
}

/* resizing for different screens !*/
@media screen and (max-width: 414px) {
  .pageTop {
    width: 100%;
    height:40px;
    background: #FFC0CB;
    border-bottom: 1px solid black;
    position:fixed;
  }
  .pageBottom {
    background: #D0D3D4;
    border-radius: 25px;
    position: fixed;
    left: 18%;
    width: 35%;
    height: 5vh;
    top: 63%;
  }
  .txt4 {
    position: fixed;
    left: 50%;
    top: -4px;
    padding: 3px 5px 3px 5px;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
    z-index: 20;
  }
  #datetime {
    position: fixed;
    left: 70%;
    top: -4px;
    padding: 3px 5px 3px 5px;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
    z-index: 60;
  }
  .txtAbout {
    font-family: 'Staatliches', cursive;
    position:fixed;
    top: 25vh;
    left: 18vw;
    width: 70%;
  }
  .btnBack {
    font-family: 'Staatliches', cursive;
    border: 1px solid black;
    padding: 0.3rem;
    position: fixed;
    top: 80%;
    left: 18vw;
}
  .trashcan {
    width: 33px;
    position: fixed;
    left: 44%;
    top: 60%;
  }
  .pencilpaper {
    width: 45px;
    position: fixed;
    left: 32%;
    top: 60%;
  }
  .cake {
    width: 45px;
    position: fixed;
    left: 21%;
    top: 61%;
  }
}
