/* typefaces */
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

/* General styles */
html {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}
body{
  margin: 0px;
}
a:link {
  text-decoration: none;
}
a:visited{
  color: black;
}
a:hover {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}

.pageTop {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  width: 100%;
  height:40px;
  background: #FFC0CB;
  border-bottom: 1px solid black;
  position:fixed;
}
.pageBody {
  background: #E6E6FA;
  width: 100vw;
  height:100vh;
  z-index: -10;
}
.pageBottom {
  background: #D0D3D4;
  border-radius: 25px;
  position: fixed;
  left: 43.5vw;
  width: 24vw;
  height: 5vh;
  bottom: 1vh;
}
.txt2Button {
  position: fixed;
  left: 105px;
  top: 12px;
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: none;
  background:#FFC0CB;
}
.txtFile {
  position: fixed;
  left: 72px;
  top: 35px;
  line-height: 1.5;
  list-style-type: none;
  display: none;
}
  a.logout:hover {
    color: white;
  }
.txt1{
  position: fixed;
  left: 40px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  z-index: 20;
}
.txt2 {
  position: fixed;
  left: 110px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
}
.txt4 {
  position: fixed;
  right: 125px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  z-index: 20;
}
#datetime {
  position: fixed;
  right: 50px;
  top: -4px;
  padding: 3px 5px 3px 5px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  z-index: 60;
}

.instruction {
  font-family: 'Staatliches', cursive;
  font-size: 18px;
  position: absolute;
  margin-left: 46%;
  top: 20%;
}
.textBox {
  width: 250px;
  height: 10%;
  position: absolute;
  margin-left: 45%;
  top: 30%;
  padding: 10px;
}
.sendButton {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: 1px solid black;
  background: none;
  position: absolute;
  margin-left: 48%;
  top: 50%;
}
  .sendButton:hover {
    color: white;
    border: 1px solid white;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  }
.backButton {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: 1px solid black;
  background: none;
  position: absolute;
  margin-left: 58%;
  top: 50%;
}
  .backButton:hover {
    color: white;
    border: 1px solid white;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
  }

.backButton2 {
  font-family: 'Staatliches', cursive;
  font-size: 14px;
  border: 1px solid black;
  background: none;
  position: absolute;
  margin-left: 50%;
  top: 55%;
}
    .backButton2:hover {
      color: white;
      border: 1px solid white;
      cursor: url(http://www.rw-designer.com/cursor-extern.php?id=80456), auto;
    }
.envelope {
  width: 120px;
  height: 70px;
  position:absolute;
  margin-left: 47%;
  top: 35%;
  box-shadow: 2px 2px 2px 2px gray;
}
.msgSent {
  font-family: 'Staatliches', cursive;
  font-size: 26px;
  position: absolute;
  margin-left: 47%;
  top: 20%;
}



@media screen and (max-width: 414px){
  .instruction {
    position: absolute;
    margin-left: 25%;
    top: 20%;
    width: 80%;
  }
  .textBox {
    width: 230px;
    height: 10%;
    position: absolute;
    right:15%;
    top: 30%;
    padding: 10px;
  }
  .sendButton {
    font-family: 'Staatliches', cursive;
    font-size: 14px;
    border: 1px solid black;
    background: none;
    position: absolute;
    margin-left: 35%;
    top: 50%;
  }
  .backButton {
    font-family: 'Staatliches', cursive;
    font-size: 14px;
    border: 1px solid black;
    background: none;
    position: absolute;
    margin-left: 60%;
    top: 50%;
  }
  .envelope {
    width: 120px;
    height: 70px;
    position:absolute;
    margin-left: 41%;
    top: 35%;
    box-shadow: 2px 2px 2px 2px gray;
  }
  .msgSent {
    font-family: 'Staatliches', cursive;
    font-size: 26px;
    position: absolute;
    margin-left: 40%;
    top: 20%;
  }
}
